@using Domain.Enums
@using Web.Components.AddTransactionMenu.FinancialTransactionModals.IncomeExpensesModal
@inject HttpClient Http

@inherits BlazorStateComponent

<div class="add-transactions-wrap">
    <div class="transactions-list @(Display ? "display" : "")">
        <span @onclick="@(()=>incomeModal.Open(FinancialTransactionType.Credit))">
            Receita
        </span>
        <span @onclick="@(()=>incomeModal.Open(FinancialTransactionType.Debit))">
            Despesa
        </span>
        <span @onclick="@(e => Show())">
            Transferência
        </span>
        <span @onclick="@(e => Show())">
            Ação
        </span>
    </div>
    <button class="btn btn-primary btn-actions" @onclick="@Toggle">
        <span class="oi oi-plus" aria-hidden="true"></span>
    </button>
</div>

<IncomeExpensesModal @ref="@incomeModal" />
  
@code {
    private bool Display = false;
    private void Toggle()
    {
        Display = !Display;
    }
    private IncomeExpensesModal incomeModal = new IncomeExpensesModal();
    
    private void Show()
    {
        Console.WriteLine("Abri");
    }
}