@using Features.FinancialTransactions
@using Web.Utils
@using Domain.Models
@using Web.Components.AddTransactionMenu.FinancialTransactionModals.IncomeModal
@inject HttpClient Http

@inherits BlazorStateComponent

<div class="add-transactions-wrap">
    <div class="transactions-list @(Display ? "display" : "")">
        <span @onclick="@incomeModal.Open">
            Receita
        </span>
        <span @onclick="@(e => Show())">
            Despesa
        </span>
        <span @onclick="@(e => Show())">
            Transferência
        </span>
        <span @onclick="@(e => Show())">
            Ação
        </span>
    </div>
    <button class="btn btn-primary btn-actions" @onclick="@Toggle">
        <span class="oi oi-plus" aria-hidden="true"></span>
    </button>
</div>

<IncomeModal @ref="@incomeModal" />
  
@code {
    private bool Display = false;
    private void Toggle()
    {
        Display = !Display;
    }
    private IncomeModal incomeModal = new IncomeModal();
    
    private void Show()
    {
        Console.WriteLine("Abri");
    }
}